{% extends 'vertretungsplan/vertretungsplan.html.twig' %}

{% block title %}Schülervertretungsplan{% endblock %}

{% block rightColumnModules %}
    {% if vertretungen_1 %}
        <table id="vertretungsplan_1" class="table vertretungen-blue font-size-m borderless">
            <thead>
                <tr>
                    <th class="col-md-1">Kl.</th>
                    <th class="col-md-1">Lkr.</th>
                    <th class="col-md-1">Std.</th>
                    <th class="col-md-3 hidden-xs">vertreten durch</th>
                    <th class="col-md-1 hidden-xs">Raum</th>
{# http://stackoverflow.com/questions/17364206/symfony2-how-can-i-set-twig-dated-f-y-filter-to-output-months-in-swedish #}
                    <th class="col-md-5"><span style="float: right" class="font-size-m">{{ vertretungen_1.0.datum|localizeddate('full', 'none', 'de', null, 'ccc, d.M') }}</span></th> 
                </tr>
            </thead>
            {% set vorherigeKlasse = "" %}
            {% for vertretung in vertretungen_1 %}
                {% if vertretung.klasse != vorherigeKlasse %}
                    <tbody>
                        <tr>
                            <td>{{ vertretung.klasse }}</td>
                        {% else %}
                        <tr><td></td>
                        {% endif %}
                        <td>{{ vertretung.lehrkraft }}</td>
                        <td>{% if vertretung.stunde != '6.5' %} {{ vertretung.stunde }} {% else %} M {% endif %}</td>
                        <td class="hidden-xs">{{ vertretung.vertretung }}</td>
                        <td class="hidden-xs">{{ vertretung.raum }}</td>
                        <td>{{ vertretung.zusatz }}</td>
                    </tr>
                    {% set vorherigeKlasse = vertretung.klasse %}
                    {% if vertretung.klasse != vorherigeKlasse %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    {% if vertretungen_2 %}
        <table id="vertretungsplan_2" class="table vertretungen-green font-size-m borderless">
            <thead>
                <tr>
                    <th class="col-md-1">Kl.</th>
                    <th class="col-md-1">Lkr.</th>
                    <th class="col-md-1">Std.</th>
                    <th class="col-md-3 hidden-xs">vertreten durch</th>
                    <th class="col-md-1 hidden-xs">Raum</th>
                    <th class="col-md-5"><span style="float: right" class="font-size-m">{{ vertretungen_2.0.datum|localizeddate('full', 'none', 'de', null, 'ccc, d.M') }}</span></th> 
                </tr>
            </thead>
            {% set vorherigeKlasse = "" %}
            {% for vertretung in vertretungen_2 %}
                {% if vertretung.klasse != vorherigeKlasse %}
                    <tbody>
                        <tr>
                            <td>{{ vertretung.klasse }}</td>
                        {% else %}
                        <tr><td></td>
                        {% endif %}
                        <td>{{ vertretung.lehrkraft }}</td>
                        <td>{% if vertretung.stunde != '6.5' %} {{ vertretung.stunde }} {% else %} M {% endif %}</td>
                        <td class="hidden-xs">{{ vertretung.vertretung }}</td>
                        <td class="hidden-xs">{{ vertretung.raum }}</td>
                        <td>{{ vertretung.zusatz }}</td>
                    </tr>
                    {% set vorherigeKlasse = vertretung.klasse %}
                    {% if vertretung.klasse != vorherigeKlasse %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block leftColumnModules %}
    <button type="button" class="btn btn-danger visible-xs visible-sm" aria-label="Schliessen" onclick="toggleLeftColumn();" style="position:absolute; top: 15px; right: 15px">
        <span style="color:white!important">X</span>
    </button>

    <div id="clockContainer" class="text-center">
        <i class="glyphicon glyphicon-time font-size-m"></i>&nbsp;<span id="clock" class="font-size-xl"></span><br/>
        <span id="date" class="font-size-m"></span>
    </div>

    <div id="infoContainer" class="panel panel-default ">
        <div class="panel-heading font-size-m">Aktuelle Informationen</div>
        <div class="panel-body">
            <div id="meldungen" style="color: #000">
                <div>
                    <h1 class="font-size-l">Spanisch Kurs 1</h1>
                    <p class="font-size-m">Pflichttreffen in der 5. Stunde vor dem Lehrerzimmer!</p>
                </div>
                <div>
                    <h1 class="font-size-l">Orchester</h1>
                    <p class="font-size-m">Die Probe findet heute im Raum E02 statt.</p>
                </div>
                <div>
                    <h1 class="font-size-l">Wichtige Mitteilung</h1>
                    <p class="font-size-m">Bitte nicht beachten. Das ist eine typische Meldung, die eher einem Roman gleicht, als einer Kurznachricht. 
                        Eine Nachricht sollte nicht zu lang sein.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="mealContainer" class="panel panel-default">
        <div class="panel-heading font-size-m">Mensaplan der Woche</div>
        <div class="panel-body">
            <div style="color: #000">
                <div>
                    <p class="font-size-m">Mo: Nudeln</p>
                    <p class="font-size-m">Di: Bratkartoffeln</p>
                    <p class="font-size-m">Mi: Pizza</p>
                    <p class="font-size-m">Do: Gemüseküchle</p>
                    <p class="font-size-m">Fr: Kaiserschmarrn</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/jquery.floatThead.min.js')}}" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#vertretungsplan_1').floatThead({
                position: 'fixed'
            });

            $('#vertretungsplan_2').floatThead({
                position: 'fixed'
            });

            makeslider();
        });
    </script>
{% endblock %}