{% extends 'vertretungsplan/vertretungsplan.html.twig' %}

{% block title %}Schülervertretungsplan{% endblock %}

{% block table1 %}
    {% if vertretungen_1 %}
        <table class="table vertretungen-blue font-size-m borderless">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">Kl.</th>
                    <th class="col-md-1 text-center">Lkr.</th>
                    <th class="col-md-1 text-center">Std.</th>
                    <th class="col-md-3 hidden-xs">Vertretung</th>
                    <th class="col-md-1 hidden-xs">Raum</th>
                        {# http://stackoverflow.com/questions/17364206/symfony2-how-can-i-set-twig-dated-f-y-filter-to-output-months-in-swedish #}
                    <th class="col-md-5"><span style="float: right" class="">{{ vertretungen_1.0.datum|localizeddate('full', 'none', 'de', null, 'ccc, d.M') }}</span></th> 
                </tr>
            </thead>
            {% set vorherigeKlasse = "" %}
            {% for vertretung in vertretungen_1 %}
                {% if vertretung.klasse != vorherigeKlasse %}
                    <tbody>
                        <tr>
                            <td class="text-center">{{ vertretung.klasse }}</td>
                        {% else %}
                        <tr><td></td>
                        {% endif %}
                        <td class="text-center">{{ vertretung.lehrkraft }}</td>
                        <td class="text-center">{% if vertretung.stunde != '6.5' %} {{ vertretung.stunde }} {% else %} M {% endif %}</td>
                        <td class="hidden-xs">{{ vertretung.vertretung }}</td>
                        <td class="hidden-xs text-center">{{ vertretung.raum }}</td>
                        <td>{{ vertretung.zusatz }}</td>
                    </tr>
                    {% set vorherigeKlasse = vertretung.klasse %}
                    {% if vertretung.klasse != vorherigeKlasse %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
{% block table2 %}
    {% if vertretungen_2 %}
        <table class="table vertretungen-green font-size-m borderless">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">Kl.</th>
                    <th class="col-md-1 text-center">Lkr.</th>
                    <th class="col-md-1 text-center">Std.</th>
                    <th class="col-md-3 hidden-xs">Vertretung</th>
                    <th class="col-md-1 hidden-xs">Raum</th>
                    <th class="col-md-5"><span style="float: right" class="">{{ vertretungen_2.0.datum|localizeddate('full', 'none', 'de', null, 'ccc, d.M') }}</span></th> 
                </tr>
            </thead>
            {% set vorherigeKlasse = "" %}
            {% for vertretung in vertretungen_2 %}
                {% if vertretung.klasse != vorherigeKlasse %}
                    <tbody>
                        <tr>
                            <td class="text-center">{{ vertretung.klasse }}</td>
                        {% else %}
                        <tr><td></td>
                        {% endif %}
                        <td class="text-center">{{ vertretung.lehrkraft }}</td>
                        <td class="text-center">{% if vertretung.stunde != '6.5' %} {{ vertretung.stunde }} {% else %} M {% endif %}</td>
                        <td class="hidden-xs">{{ vertretung.vertretung }}</td>
                        <td class="hidden-xs text-center">{{ vertretung.raum }}</td>
                        <td>{{ vertretung.zusatz }}</td>
                    </tr>
                    {% set vorherigeKlasse = vertretung.klasse %}
                    {% if vertretung.klasse != vorherigeKlasse %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block leftColumnModules %}
    <button type="button" class="btn btn-danger visible-xs visible-sm" aria-label="Schliessen" onclick="toggleLeftColumn();" style="position:absolute; top: 15px; right: 15px">
        <span style="color:white!important">X</span>
    </button>

    <div id="clockContainer" class="text-center">
        <i class="glyphicon glyphicon-time font-size-m"></i>&nbsp;<span id="clock" class="font-size-xl"></span><br/>
        <span id="date" class="font-size-m"></span>
    </div>

    <div id="infoContainer" class="panel panel-default ">
        <div class="panel-heading font-size-m">Aktuelle Informationen</div>
        <div class="panel-body">
            <div id="meldungen" style="color: #000">
                {% for meldung in meldungen %}
                    <div>
                        <h1 class="font-size-l">{{ meldung.ueberschrift }}</h1>
                        <p class="font-size-m">{{ meldung.meldung }}</p>
                    </div>
                {% endfor %}
                <div>
                    <h1 class="font-size-l">Wichtige Mitteilung</h1>
                    <p class="font-size-m">Bitte nicht beachten. Das ist eine typische Meldung, die eher einem Roman gleicht, als einer Kurznachricht. 
                        Eine Nachricht sollte nicht zu lang sein.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="mealContainer" class="panel panel-default">
        <div class="panel-heading font-size-m">Mensaplan der Woche</div>
        <div class="panel-body">
            <div style="color: #000">
                <div>
                    {% for essen in speiseplan %}
                        {# http://stackoverflow.com/questions/17498652/use-a-variable-in-twig-literal #}
                        {% set var = '+' ~ loop.index0 ~ 'days' %}
                        <p class="font-size-m">{{ "monday"| date_modify(var)|localizeddate('full', 'none', 'de', null, 'ccc')}}: {{ essen.mittagessen }}</p>
                    {% endfor %}
                    Aktuelle Stunde nach DB: {{ std }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/jquery.floatThead.min.js')}}" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').floatThead({
                position: 'fixed'
            });

            makeslider();
        });
    </script>
{% endblock %}